{
    "port": 9000,
    "frontendUrl": "http://localhost:4200",
    "spotifyConfig": {
        "clientId": "",
        "clientSecret": "",
        "redirectUri": "http://localhost:9000/callback"
    }
}

